In [ ]:
#Basic Data structures in python
#integer
i=27
type(i)

In [ ]:
#float
j=27.4
type(j)

In [ ]:
#Python as calculator
#Arithmetic operations
sum=i+j
print(sum)

In [ ]:
sub=27-20
print(sub)

In [ ]:
product=5*20
print(product)

In [ ]:
division=20/5 #returns float
print(division)
type(division)

In [ ]:
#Strings and Boolean
text='Introduction to Python'
type(text)

In [ ]:
logical=True
type(logical)

In [ ]:
#Arithmetic Operations on text
#+ concatinates two string
text1=" and data Manipulation with Python"
topic=text+text1 #same type
topic

In [ ]:
#* creates copies of string
text*3

In [ ]:
#Convert integer to string
k=str(i)
type(k)

In [ ]:
#Question: Can a variable name start with a number in Python?
5_x=3

In [ ]:
_x=3

In [ ]:
#Question: How will you assign more than one value to a variable?

In [ ]:
#Lists:which can contain multiple data types
list=[5,"Age",True,5.5]
type(list)

In [ ]:
#A list can contain list within the list
list1=[1,"Gender",False,2.3,[2,3]]
type(list1)

In [ ]:
#Question: create a list with values 8 9.5 "Python" True and store as new_list

In [ ]:
#index/slicing
#Python has zero based index
l=[11,12,13,'a','b','c']

In [ ]:
l[:] #Return all the elements by using colon

In [ ]:
l[0] #index starts with 0

In [ ]:
#[start:end], start is inclusive in the list, end is exclusive

In [ ]:
l[2:4] #Return second and third index elements use 2:4

In [ ]:
#Question: Extract first two index elements from "new_list"

In [ ]:
#Negative indexing
l[-1] #Return last element

In [ ]:
l[::-1]#print all element in reverse order [start:end:step]

In [ ]:
l[::2]#print all alternate elements

In [ ]:
l[2:-1]#start from second index element and skip last one #same as l[2:5]

In [ ]:
#[start:end:step]
l[-1:-3:-1] #print last two elements

In [ ]:
#Question: print the list new_list in reverse order

In [ ]:
l

In [ ]:
#List Manipulation
#Change a value
l[0]=10
l

In [ ]:
#Add a value or list
l1=l+[14]
l1

In [ ]:
l2=l+[15,'d']
l2

In [ ]:
#Remove a value
del(l2[0])

In [ ]:
l2

In [ ]:
#Copying the values
l3=l2.copy() #or l2[:]

In [ ]:
print(l2)
print(l3)

In [ ]:
l2[0]=0

In [ ]:
print(l2)
print(l3)

In [ ]:
#Question: l4:l2

In [ ]:
#Functions vs Methods

In [ ]:
#Functions are called by its name.
##Functions are independent of object

In [ ]:
#Functions in python
#A reusable function aimed to perform particular task.
l5=[13,9,0,11,15,2]

In [ ]:
sorted(l5) #ascending order    #explicitly passed the object

In [ ]:
sorted(l5,reverse=True) #descending order

In [ ]:
len(l5)

In [ ]:
max(l5)

In [ ]:
#Methods are called by its name.
#Methods are dependent on object

In [ ]:
#Methods: Python objects have associated methods
#index() method will work both on numeric and string

topic.index('and') #implicitly passed the object

In [ ]:
topic

In [ ]:
l5.index(0)

In [ ]:
a='1376254'
sorted(a)

In [ ]:
a

In [ ]:
mylist = [3, 1, 2]
mylist.sort()

In [ ]:
mylist

In [ ]:
#Functions can't change the object
#Methods can change the object

In [ ]:
lower_topic=topic.lower() #lower case

In [ ]:
topic.replace("and","AND")

In [ ]:
l5.replace(0,1) #replace is not a method for numeric type data

In [ ]:
range(30,100,10)

In [ ]:
#Iterables and Iterator
#Convert a range of values as string
for w in range(30,100,10):
    print("Value "+str(w))

In [ ]:
#Question: Print the values between 5 to 10 in steps of 1

In [ ]:
topic

In [ ]:
d=0 #Start the count with 0
e=0
for i in topic:
    if i.isupper(): #Looking for upper case in text
        d=d+1
    elif i.islower(): #Looking for lower case in text
        e=e+1
print("Number of Upper case characters are") 
print(d)
print("Number of lower case characters are")
print(e)

In [ ]:
r=range(0,10,1)
for x in r:
    y=x+1
    print(y)

In [ ]:
#List Comprehension
[x+1 for x in r]

In [ ]:
model=['Buick','Cadillac','Chevrolet','Pontiac','Saturn','SAAB']
price=[20815,40936,16428,18412,13979,29495]

In [ ]:
#Pair Wise list elements
pairs=[[m,p] for m in model for p in price]

In [ ]:
pairs #What am I missing?

In [ ]:
pairs_index=[[m,p] for m in model for p in price if model.index(m)==price.index(p)]

In [ ]:
pairs_index

In [ ]:
#Conditional
x=[23,21,4,53,1]
y=[2,21,23]

In [ ]:
pairs_index=[[a,b] for a in x for b in y if x.index(a)==y.index(b)]

In [ ]:
pairs_index

In [ ]:
z=[a for a in x if a not in y] #elements in x which are not in y

In [ ]:
z

In [ ]:
# Check whether a value exist in the given list
3 in z

In [ ]:
1 in z

In [ ]:
l

In [ ]:
#Print only string values
[x for x in l if type(x)==str]

In [ ]:
[x*10 for x in l if type(x)==int]

In [ ]:
#Question: Extract integer values from the list l and divide by 10

In [ ]:
#Lambda to create small or one time use function and map requires a function to be applied on multiple or one list.
x=[1,2,3,4]
y1=[2,2,2,2]
product=map(lambda x,y:x*y,x,y1)

In [ ]:
product

In [ ]:
#Extract values
set(product)

In [ ]:
#Extract strings of length>5 from a list
strings=filter(lambda x:len(x)>5,['Buick','Cadillac','Chevrolet','Pontiac','Saturn','SAAB'])

In [ ]:
set(strings)

In [ ]:
#Tuples
empty=()
t=(1,2,3,4,5)
tuple='t1','t2'

In [ ]:
print(tuple)
print(t)

In [ ]:
t[0]=0

In [ ]:
#Question: #Extract strings of length=4 from the list model

In [ ]:
print(model)
print(price)

In [ ]:
#Dictionary: key value pairs
dict={'Make':model,'Price':price}

In [ ]:
type(dict)

In [ ]:
dict.keys()

In [ ]:
dict

In [ ]:
#index/slicing
dict['Make'][0]

In [ ]:
#Change a value
dict['Price'][4]=20000

In [ ]:
dict

In [ ]:
#Dictionary inside a dictionary
info1={'Gender':'Male','Income':20000}
info2={'Gender':'Male','Income':25000}
income={'John':info1,
       'Mathew':info2}

In [ ]:
income

In [ ]:
#How to install a library?
#Question: install the package numpy

In [ ]:
#Pandas
#Series: one-dimensional
import pandas as pd
import numpy as np
s=pd.Series([4,3,2,1]) #default index

In [ ]:
print(s)
type(s)

In [ ]:
s1=pd.Series({'a':1,'b':2,'c':3,'d':4})

In [ ]:
print(s1)
type(s1)

In [ ]:
s1['a']

In [ ]:
s2=pd.Series(np.array([1,2,3,4]),index=['a','b','c','d'])

In [ ]:
s2

In [ ]:
#Question: Understand the output of pd.Series(4,index=[0,1,2,3])

In [ ]:
#Data Frames: two-dimensional data structure ie: [rows,columns]
dict

In [ ]:
df=pd.DataFrame(dict)

In [ ]:
df

In [ ]:
#Rename columns
df.rename(columns={'Make':'Model','Price':'Amount'})

In [ ]:
#Extract column names
df.columns

In [ ]:
#Question: Debug the code
df1=pd.Dataframe({'c1':s1},{'c2':s2})

In [ ]:
#loc: label based
df.loc[0:3]

In [ ]:
#iloc:position based
df.iloc[0:3]

In [ ]:
#Merging Data Frames
A=pd.DataFrame({'X1':['a','b','c'],'X2':[1,2,3]})
B=pd.DataFrame({'X1':['a','b','d'],'X3':[True,False,True]})

In [ ]:
pd.merge(A,B,how='left',on='X1') #Based on A(left)

In [ ]:
pd.merge(A,B,how='right',on='X1') #Based on B(right)

In [ ]:
pd.merge(A,B,how='inner',on='X1') #Matching ids

In [ ]:
pd.merge(A,B,how='outer',on='X1') #combine all

In [ ]:
#Pandas
dummies= pd.get_dummies(df['Make'])

In [ ]:
dummies

In [ ]:
#importing data into Python
import pandas as pd
import os
os.chdir("C:\\Users\\Kafeel Basha\\Desktop\\Python\\Intro to python\\class\\")

In [ ]:
store=pd.read_csv("Store.csv")

In [ ]:
store=pd.read_csv("Store.csv",encoding='latin1')

In [ ]:
#Look at first few observations of the data
store.head()

In [ ]:
#Data Manipulation with Python
lc=pd.read_csv("LC.csv",error_bad_lines=False,na_values=[""," ","  "]) #Avoid out message error

In [ ]:
lc.head()

In [ ]:
lc.shape

In [ ]:
#Question: what is the shape of the data frame "store"

In [ ]:
#Check for missing values in each column of data frame "lc".
lc.isnull().sum()

In [ ]:
#Dropping variables
lc.drop(['zip_code','emp_length'],axis=1).shape

In [ ]:
#Understand the distribution of interest rate variable 'int_rate'
lc['int_rate'].head()

In [ ]:
lc['int_rate']=lc['int_rate'].str.replace("%","").astype("float64")

In [ ]:
lc['int_rate'].head()

In [ ]:
#Missing data
lc['int_rate'].isnull().sum()

In [ ]:
# fill missing values with mean column values
lc['int_rate'].fillna(lc['int_rate'].mean(), inplace=True)

In [ ]:
lc['int_rate'].isnull().sum()

In [ ]:
#Question: How many missing values are there in the column "Region"

In [ ]:
lc['int_rate'].describe()

In [ ]:
np.arange(0,1,0.01)

In [ ]:
lc['int_rate'].quantile(np.arange(0,1,0.01))

In [ ]:
#Any questions?

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(lc['int_rate'])
plt.title("Histogram of int_rate")
plt.xlabel('int_rate')

In [ ]:
##What is the average interest rate according to number of payments on the loan?
lc.groupby('term')['term'].count()

In [ ]:
lc['term'].isnull().sum()

In [ ]:
lc['term'].fillna("36months",inplace=True)

In [ ]:
avg_int=lc.groupby('term')['int_rate'].mean()

In [ ]:
avg_int

In [ ]:
#Is there any relationship between "Purpose" and "int_rate"?
lc['purpose'].unique()

In [ ]:
df_count=lc.groupby(['purpose'])['int_rate'].mean()

In [ ]:
df_count

In [ ]:
df_count.plot.bar()
plt.title("Bar chart")

In [ ]:
#Question: Find the average Profit by Segments
store[['Segment','Profit']].head()

In [ ]:
store.groupby('Segment')['Profit'].mean()

In [ ]:
#How does the average grant rate differ by income levels?
lc['annual_inc'].quantile(np.arange(0,1,0.01))

In [ ]:
#Create Bins for income levels
def get_label(x):
    if x<30000:
        return 'Group1'
    elif x>30000 and x<=60000:
        return 'Group2'
    elif x>60000 and x<=90000:
        return 'Group3'
    else:
        return 'Group4'

In [ ]:
lc['label']=lc['annual_inc'].map(get_label)

In [ ]:
lc['grant_rate']=lc['funded_amnt']/lc['loan_amnt']

In [ ]:
lc.groupby('label')['grant_rate'].mean()

In [ ]:
#Relation between loan amount and funded amount
plt.scatter(lc['loan_amnt'][:100],lc['funded_amnt'][:100])

In [ ]:
##Impact of Ownership on loan status
lc.groupby('home_ownership')['loan_status'].count()/lc.shape[0]

In [ ]:
#Extract the records which are beyond 0.99 percentile in int_rate variable
lc[lc['int_rate']>lc['int_rate'].quantile(0.99)]

In [ ]:
#Define date format of a date variable
import pandas as pd
data=pd.DataFrame({'date':["01/08/2018","02/08/2018","03/08/2018","04/08/2018","05/08/2018","30/07/2018","31/07/2018"],
 'C':[9.3430,9.3039,9.2784,9.2858,9.2834,9.3178,9.3434]})

In [ ]:
data

In [ ]:
data.dtypes

In [ ]:
data['date']=pd.to_datetime(data['date'],format="%d/%m/%Y")
data

In [ ]:
data['date'].dt.strftime('%m/%d/%Y')

In [ ]:
#Convert data frame into json format
import pandas as pd
import json
df=pd.DataFrame({'Schools':[[77.621,12.99699],[-124.2548333, 40.6763333],[-116.02, 31.6225]]})
df['City']=['Bangalore','Chennai','Puduchery']
file= json.loads(df.T.to_json()).values()

In [ ]:
file

In [ ]:
type(file)

In [ ]:
#Appending elements after extraction
long=[]
for data in file:
    long.append(data['Schools'][0])
long