In [1]:
# Read the audit dataset into Python
import os
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
os.getcwd()
os.chdir('E:\Jaishree\Data Science with R\Datasets')
audit = pd.read_csv('audit.csv',sep =',',header=0)
print(audit.head())

        ID  Age Employment  Education    Marital Occupation     Income  \
0  1004641   38    Private    College  Unmarried    Service   81838.00
1  1010229   35    Private  Associate     Absent  Transport   72099.00
2  1024587   32    Private     HSgrad   Divorced   Clerical  154676.74
3  1038288   45    Private   Bachelor    Married     Repair   27743.82
4  1044221   60    Private    College    Married  Executive    7568.23

   Gender  Deductions  Hours  RISK_Adjustment  TARGET_Adjusted
0  Female         0.0     72                0                0
1    Male         0.0     30                0                0
2    Male         0.0     40                0                0
3    Male         0.0     55             7298                1
4    Male         0.0     40            15024                1

In [2]:
#Filtering
#Subsetting rows
#Displaying Row numbers 1,2,8,456 
audit.iloc[[1,2,8,456],:]

,ID,Age,Employment,Education,Marital,Occupation,Income,Gender,Deductions,Hours,RISK_Adjustment,TARGET_Adjusted
1,1010229,35,Private,Associate,Absent,Transport,72099.00,Male,0.0,30,0,0
2,1024587,32,Private,HSgrad,Divorced,Clerical,154676.74,Male,0.0,40,0,0
8,1061323,25,Private,Associate,Divorced,Clerical,126888.91,Female,0.0,40,0,0
456,3274547,40,Private,Vocational,Absent,Clerical,82953.38,Female,0.0,40,0,0

In [ ]:
# Subsetting columns
# Display Education and Marital Status
audit.loc[:,['Education','Marital']]

In [ ]:
# Subsetting rows and columns
#  Display 2nd row and 4th column
audit.iloc[1,3]

In [ ]:
# Displaying Row numbers 1,2,8,456 and Column numbers 1,3,6
audit.iloc[[1,2,8,456],[1,3,6]]

In [ ]:
# We can simply extract columns from a dataframe
# Displaying first 5 rows of column "Education"
audit['Education'].head()

In [ ]:
# Display all rows and columns for male private employed employees
audit[(audit['Gender'] == 'Male') & (audit['Employment'] == 'Private')]

In [ ]:
# Get only the columns Age and Marital status of male private employees
audit.query("Gender== 'Male' & Employment == 'Private'")[['Age','Marital']]

In [ ]:
# Get all the columns except Age and Marital status of male private employees
audit.query("Gender== 'Male' & Employment == 'Private'").drop(['Age','Marital'],axis = 1)

In [ ]:
# Adding new columns
# Create a new column LogIncome
audit['LogIncome'] = np.log(audit['Income'])
audit.head()

In [ ]:
# Sorting data
# Sort the data in ascending order of income
audit.sort_values('Income')

In [ ]:
# Sort the data in descending order of income
audit.sort_values('Income', ascending=False)

In [ ]:
# Group by and Summarize Operations
# What is the average income by Gender and Marital Status?
audit.groupby(['Gender','Marital'],as_index=False).agg({'Income':np.mean})

In [ ]:
#What are the minimum, maximum of the average income by Gender and Marita l Status?
audit.groupby(['Gender','Marital'], as_index=False)['Income'].agg([np.min,np.max])

In [3]:
audit.groupby('Gender').mean() # finds mean of all numeric variables for each category of Gender

,ID,Age,Income,Deductions,Hours,RISK_Adjustment,TARGET_Adjusted
Gender,,,,,,,
Female,5.535744e+06,37.305380,127697.729320,29.62500,35.802215,1158.194620,0.107595
Male,5.665282e+06,39.230263,64818.680673,85.09771,42.048246,2419.550439,0.288743

In [ ]:
# Contingency Table between Gender and Marital Status
pd.crosstab(audit['Gender'],audit['Marital'])