In [1]:
import pandas as pd
import numpy as np
import os

In [7]:
data_dir="C:\\Users\\raush\\OneDrive\\Datasets\\Python\\Codes and Datasets\\data"
os.chdir(data_dir)
data=pd.read_csv("Store.csv",encoding="latin")

In [8]:
## Data Manipulation tasks:
# Filtering data
# Selecting columns 
# Sorting data
# Adding new columns
# Group By aggregations
# Handling dates
# Handling text
# Treating Missing Values

print(data.shape)

(9994, 21)

In [11]:
print(data.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2013-152156   11/9/2013  11/12/2013    Second Class    CG-12520
1       2  CA-2013-152156   11/9/2013  11/12/2013    Second Class    CG-12520
2       3  CA-2013-138688   6/13/2013   6/17/2013    Second Class    DV-13045
3       4  US-2012-108966  10/11/2012  10/18/2012  Standard Class    SO-20335
4       5  US-2012-108966  10/11/2012  10/18/2012  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [33]:
data.head(frac=0.05)

TypeError: head() got an unexpected keyword argument 'frac'

In [16]:
## How many transactions have happened in East Region (Filter)
data[data['Region']=='East']
data[data['Region']=='East'].shape
data[data['Region']=='East'].shape[0]

2848

In [7]:
# A more elegant API
data.query("Region=='East'").shape

(2848, 21)

In [17]:
# What was the total quantity sold in region East?
data[data['Region']=='East'][['Region','Quantity']].sum()
#data[data['Region']=='East'][['Region','Quantity']].head() #Column Selection
#data[data['Region']=='East'][['Region','Quantity']]
#data[data['Region']=='East']['Quantity'].sum()

Region      EastEastEastEastEastEastEastEastEastEastEastEa...
Quantity                                                10618
dtype: object

In [31]:
data.query("Region == 'East'")['Quantity'].sum()

10618

In [39]:
## Ordering data
# Who are the most valuable customers in South Region by Sales?
#data[data['Region']=="South"].head(3)

data[data['Region']=="South"].sort_values("Sales",ascending=False).head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2697,2698,CA-2011-145317,3/18/2011,3/23/2011,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784
8488,8489,CA-2013-158841,2/2/2013,2/4/2013,Second Class,SE-20110,Sanjit Engle,Consumer,United States,Arlington,...,22204,South,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.950,5,0.0,2799.9840
683,684,US-2014-168116,11/5/2014,11/5/2014,Same Day,GT-14635,Grant Thornton,Corporate,United States,Burlington,...,27217,South,TEC-MA-10004125,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.980,4,0.5,-3839.9904
509,510,CA-2012-145352,3/16/2012,3/22/2012,Standard Class,CM-12385,Christopher Martinez,Consumer,United States,Atlanta,...,30318,South,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,6354.950,5,0.0,3177.4750
4297,4298,CA-2014-129021,8/24/2014,8/27/2014,Second Class,PO-18850,Patrick O'Brill,Consumer,United States,Tallahassee,...,32303,South,TEC-PH-10001459,Technology,Phones,Samsung Galaxy Mega 6.3,4367.896,13,0.2,327.5922

In [44]:
data[data['Region']=="South"].sort_values(['Sales','Profit'], ascending=[True,True]).head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2605,2606,CA-2011-112718,12/16/2011,12/21/2011,Standard Class,KN-16450,Kean Nguyen,Corporate,United States,Jacksonville,...,32216,South,OFF-BI-10000591,Office Supplies,Binders,Avery Binder Labels,1.167,1,0.7,-0.8558
9382,9383,CA-2011-154158,12/23/2011,12/27/2011,Second Class,CC-12670,Craig Carreira,Consumer,United States,Tampa,...,33614,South,OFF-AR-10001868,Office Supplies,Art,Prang Dustless Chalk Sticks,1.344,1,0.2,0.5040
6597,6598,CA-2011-169257,6/6/2011,6/12/2011,Standard Class,SV-20785,Stewart Visinsky,Consumer,United States,Jacksonville,...,32216,South,OFF-BI-10002557,Office Supplies,Binders,Presstex Flexible Ring Binders,1.365,1,0.7,-0.9100
7900,7901,CA-2014-128363,8/14/2014,8/19/2014,Standard Class,DC-12850,Dan Campbell,Consumer,United States,Memphis,...,38109,South,TEC-AC-10003709,Technology,Accessories,Maxell 4.7GB DVD-R 5/Pack,1.584,2,0.2,0.4752
8317,8318,CA-2014-130904,4/12/2014,4/17/2014,Standard Class,HM-14980,Henry MacAllister,Consumer,United States,Burlington,...,27217,South,OFF-AR-10000422,Office Supplies,Art,Pencil and Crayon Sharpener,1.752,1,0.2,0.1533

In [16]:
# In the east region who are the most valuable customers, select their cust ids
data.query("Region=='East'").sort_values("Sales",ascending=False)['Customer ID'].head()

2623    TA-21385
4190    HL-15040
4277    BS-11365
6425    CC-12370
6626    TB-21400
Name: Customer ID, dtype: object

In [45]:
### Adding new columns
# KPI- Sales as %age of average sales

data['SalesContribution']=data['Sales']/data['Sales'].sum()
data['SalesBenchmarking']=data['Sales']/data['Sales'].sum()

In [46]:
# Create a column on Cost

data['Cost']=data['Sales']-data['Profit']

In [48]:
data['Cost'].iloc[1]

512.3580000000001

In [ ]:
## Read the data called starbucks_final.csv
# An ideal diet should contain optimum level of 
    #nutrients
# can you find out the names of the items on menu 
    #that contain:
    #Upto 450 calories
    #Upto 40 g protein
    #Upto 10 g fat
    #Upto 40 g Carbs
    #Upto 5 g fibre
# Give the names of items on menu that satisfy 
#the above criteria but contain least carbs but 
#maximum protien

In [54]:
### Groupby aggregations

# Average quantity sold in each region
data.groupby("Region",as_index=False).agg({'Quantity':np.mean})
data.groupby("Region",as_index=False).agg({'Quantity':'mean'})
#or
data.groupby("Region",as_index=False)['Quantity'].mean()
#or 
data.groupby("Region",as_index=False)['Quantity'].agg('mean')

# What is the average and total sales by region
data.groupby("Region",as_index=False).agg({'Sales':[np.mean,
                                                    np.sum]})

data.groupby("Region",as_index=False)['Sales'].agg([np.mean,np.sum]).reset_index()

# Find segment wise total sales and maximum profits
data.groupby("Segment",as_index=False).agg({'Sales':np.sum,"Profit":np.max})

# Arrange by Profits
data.groupby("Segment",as_index=False).agg({'Sales':np.sum,"Profit":np.max}).sort_values("Profit",ascending=False)

       Segment         Sales     Profit
1    Corporate  7.061464e+05  8399.9760
0     Consumer  1.161401e+06  6719.9808
2  Home Office  4.296531e+05  3919.9888

In [61]:
### Working with datetime
data.dtypes
# How much time it takes to place an order and ship it

data["Order Date"]=pd.to_datetime(data["Order Date"])
data["Ship Date"]=pd.to_datetime(data["Ship Date"])

data["Duration"]=data["Ship Date"]-data["Order Date"]
data["Duration"].head()

## How many times has it taken more than 5 days from placing the order to shipping
data[data["Duration"]>'5 days'].shape[0]


## How many orders were made during each day of week
data["Week_Day"]=data["Order Date"].dt.weekday #Monday =0, Sunday =6
data.groupby("Week_Day").size()

Week_Day
0    1812
1    1780
2    1601
3    1805
4    1837
5     970
6     189
dtype: int64

In [62]:
## How many times has it taken more than 5 days from placing the order to shipping
data[data["Duration"]>'5 days'].shape[0]

1822

In [64]:
st=pd.read_csv("C:\\Users\\Lenovo Pc\\Desktop\\Class\\Strings.csv")

In [55]:
print st.head()

SyntaxError: invalid syntax (<ipython-input-55-6397a31d666c>, line 1)

In [66]:
st['Income_M'].mean()

TypeError: Could not convert Rs 12000/-Rs 45000/-Rs 39000/-Rs 6000/-Rs 20000/-Rs 42000/-Rs 34000/-Rs 56000/-Rs 25000/-Rs 100000/-Rs 56000/-Rs 2000/-Rs 40000/-Rs 27000/-Rs 32000/-Rs 34000/-Rs 20000/-Rs 23000/-Rs 57000/-Rs 62000/- to numeric

In [56]:




st['Income_M']=st['Income_M'].str.replace("Rs","")
print st.head()

st['Income_M']=st['Income_M'].str.replace("/-","")
print st.head()

st['Income_M'].mean()

st.Income_M=pd.to_numeric(st.Income_M)
st.Income_M.mean()

SyntaxError: invalid syntax (<ipython-input-56-cf8df32623e4>, line 6)

In [ ]:
## Handling missing values
# Counting the number of missing values in each column
dat_m=pd.read_csv('F:\\Work\\Jigsaw Academy\\Credit Loan\\Credit.csv',na_values=['Missing',""])
# Number of missing values
dat_m.isnull().sum()

#Subsetting by missing values
dat_m[dat_m['MonthlyIncome'].isnull()]['DebtRatio']

#Replacing missing values
dat_m['age']=dat_m['age'].fillna(20)